@model Usuario

@{
    ViewData["Title"] = "Cadastro de Usuários";
}

<h1 class="text-center">Cadastrar Usuário</h1>

<!-- Form -->
<form action="CadastrarUsuario" method="post">
    
    <label asp-for="Nome">Nome:</label>
    <input type="text" name="Nome" asp-for="@Model.Nome"> <br>
    <label asp-for="Login">Login:</label> 
    <input type="text" name="Login" asp-for="@Model.Login"><br>
    <label asp-for="Senha">Senha:</label> 
    <input type="password" name="Senha" asp-for="@Model.Senha"><br>
<label asp-for="@Model.Tipo">Tipo:</label> 
    <select name="tipo" asp-for="@Model.Tipo">
        <option value="@Usuario.padrao">Padrão</option>
        <option value="@Usuario.admin">Administrador</option>
    </select> <br><br>

    <input type="submit" class="btn btn-primary" value="Cadastrar">
</form>